<div class="more-info">
  <div class="info-boxes">
    <a class="flip-card" routerLink="/crypto">
      <div class="flip-card-inner light-blue">
        <div class="flip-card-front">
          <h2>Cryptocurrency</h2>
          <p>
            Discover the latest trends and insights into the world of
            cryptocurrencies.
          </p>
        </div>
        <div class="flip-card-back">
          <h2>More About Cryptocurrency</h2>
          <p>
            Cryptocurrencies are digital assets designed to work as a medium of
            exchange using cryptography to secure transactions.
          </p>
          <span>Learn More</span>
        </div>
      </div>
    </a>
    <a class="flip-card" routerLink="/blockchain">
      <div class="flip-card-inner light-green">
        <div class="flip-card-front">
          <h2>Blockchain</h2>
          <p>
            Learn about blockchain technology and how it's revolutionizing
            industries.
          </p>
        </div>
        <div class="flip-card-back">
          <h2>More About Blockchain</h2>
          <p>
            Blockchain is a distributed ledger technology that ensures secure
            and transparent transaction records.
          </p>
          <span>Learn More</span>
        </div>
      </div>
    </a>
    <a class="flip-card" routerLink="/trading">
      <div class="flip-card-inner light-yellow">
        <div class="flip-card-front">
          <h2>Crypto Trading</h2>
          <p>Get tips and strategies for successful cryptocurrency trading.</p>
        </div>
        <div class="flip-card-back">
          <h2>More About Trading</h2>
          <p>
            Crypto trading involves buying and selling cryptocurrencies with the
            goal of making a profit.
          </p>
          <span>Learn More</span>
        </div>
      </div>
    </a>
    <a class="flip-card" routerLink="/news">
      <div class="flip-card-inner light-red">
        <div class="flip-card-front">
          <h2>Crypto News</h2>
          <p>
            Stay updated with the latest news and developments in the crypto
            space.
          </p>
        </div>
        <div class="flip-card-back">
          <h2>More About Crypto News</h2>
          <p>
            Get the latest news and updates on cryptocurrencies and blockchain
            technology.
          </p>
          <span>Learn More</span>
        </div>
      </div>
    </a>
  </div>
</div>
