.main-container {
  text-align: center;
  padding-bottom: 3rem;
}

.chart-container {
  width: 80%;
  max-width: 1000px;
  margin: 2rem auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
}

canvas {
  width: 100% !important;
  height: auto !important;
}

h4 {
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .chart-container {
    width: 100%;
    padding: 10px;
  }

  canvas {
    width: 100% !important;
    height: auto !important;
  }

  input[type="date"] {
    width: 80%;
  }
}
