<app-header>
  <h3 header-title>
    <a href="">RGBA Solution</a>
  </h3>
  <button class="burger-menu" (click)="toggleMenu()">☰</button>
  <nav header-nav [class.open]="menuOpen">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      @if(user$ | async) {
      <li><a routerLink="/feedback" routerLinkActive="active">Feedback</a></li>
      <li>
        <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
      </li>
      <li>
        <a routerLink="/user-profile" routerLinkActive="active">User Profile</a>
      </li>
      } @else {
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      }
    </ul>
  </nav>
</app-header>

@if(signInSuccess) {
<div class="welcome-container">
  <div class="welcome-content">
    <p>Welcome To RGBA Solution</p>
  </div>
</div>
}

<router-outlet></router-outlet>
