<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section">
        <h3>About Us</h3>
        <p>
          A CloudSphere Intelligence API is a comprehensive solution for managing transactions with advanced features including fraud detection and suspicious activity monitoring.
        </p>
      </div>
      <div class="footer-section">
        <h3>Contact Us</h3>
        <p>Phone: +995 599 042 047</p>
        <Address>Tbilisi, Georgia</Address>
      </div>
      <div class="footer-section">
        <h3>Follow Us</h3>
        <div >
            <a href="https://rbga.godaddysites.com/fitba" target="_blank">
                <img src="https://store-images.s-microsoft.com/image/apps.30645.9007199266245907.cb06f1f9-9154-408e-b4ef-d19f2325893b.ac3b465e-4384-42a8-9142-901c0405e1bc"  width=40 height=40  style="margin-right: 20px;" alt="Facebook">
            </a>
            <a href="https://github.com/guga2002/AGRB.Optio.API" target="_blank">
                <img src="https://pbs.twimg.com/profile_images/1372304699601285121/5yBS6_3F_400x400.jpg"  width=40 height=40 alt="GitHub">
            </a>
            <a href="https://www.linkedin.com/in/guga-apkhazava-938a40237/" target="_blank">
                <img src="https://static.vecteezy.com/system/resources/previews/017/339/624/original/linkedin-icon-free-png.png" width=80 height=80 alt="LinkedIn">
            </a>
        </div>
      </div>

    <div class="footer-bottom">
      <p>&copy; 2024  CloudSphere Intelligence. All rights reserved.</p>
    </div>
  </div>
  </div>
</footer>
