.main-container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(#000 60%, #100036);
  padding-top: 6rem;
  color: #fff;
  text-align: center;
}

.date-inputs {
  margin-bottom: 20px;
}

input[type="date"],
select {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="date"]:focus,
select:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  outline: none;
}
