.main-container {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(#000 70%, #100036);
  color: #fff;
  padding: 2rem 3rem 0 3rem;
}

.info-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.info-container h1 {
  font-size: 6rem;
}

.info-container h3 {
  font-size: 1.8rem;
  margin-top: 2rem;
}

.info-container a {
  all: unset;
  padding: 18px 48px;
  font-size: 1.3rem;
  border: 2px solid #222;
  border-radius: 36px;
  cursor: pointer;
}

.info-container a:hover {
  background-color: #222;
}

.link-container {
  margin-top: 3rem;
}

.img-container {
  width: 70%;
  margin: auto;
  margin-top: 6rem;
}

.img-container img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .info-container h1 {
    font-size: 4rem;
  }

  .info-container h3 {
    font-size: 1.5rem;
  }

  .info-container a {
    font-size: 1.2rem;
    padding: 15px 40px;
  }

  .img-container {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .info-container h1 {
    font-size: 3rem;
  }

  .info-container h3 {
    font-size: 1.3rem;
  }

  .info-container a {
    font-size: 1.1rem;
    padding: 12px 36px;
  }

  .img-container {
    width: 90%;
    margin-top: 4rem;
  }
}

@media (max-width: 480px) {
  .main-container {
    padding: 1rem 1.5rem 0 1.5rem;
  }

  .info-container h1 {
    font-size: 2.5rem;
  }

  .info-container h3 {
    font-size: 1rem;
  }

  .info-container a {
    font-size: 1rem;
    padding: 10px 30px;
  }

  .img-container {
    width: 100%;
    margin-top: 2rem;
  }
}
