.main-container {
  min-height: 100vh;
  width: 100%;
  padding-top: 6rem;
  color: #fff;
  text-align: center;
}

.popular-chanel h1 {
  font-size: 2rem;
}

.container {
  max-width: 1200px; /* Adjust the max-width as per your design */
  margin: 0 auto;
}

.medium-input {
  font-size: 14px;
  width: 100%;
  margin: 1rem auto; /* Center the form field with margin */
}

table {
  width: 100%;
  border-collapse: collapse; /* Optional: collapse table borders */
}

.mat-header-cell,
.mat-cell {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  padding: 1rem;
}

td,
th {
  width: 25%; /* Adjust column width as per your design */
  padding: 1rem; /* Optional: add padding for better spacing */
}

.mat-paginator {
  color: #fff;
}

.mat-paginator .mat-paginator-range-label,
.mat-paginator .mat-paginator-icon {
  color: #fff;
}

.mat-paginator .mat-form-field {
  color: #fff;
}

.mat-paginator .mat-option {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

input[type="date"],
select {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="date"]:focus,
select:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
  outline: none;
}
